<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [formGroup]="form">
  <div style="
    padding: 10px;
    font-size: 16px;
">Olá, Faça seu cadastro abaixo para poder
participar dos jogos.</div>  
  <ion-item>
    <ion-label color="primary" floating>Nome Completo</ion-label>
    <ion-input formControlName="nome"></ion-input>
    
  </ion-item>
  <span class="error" *ngIf="(form.controls.nome?.errors?.required) && form.controls.nome.touched==true">
      <ion-label class="error-text"> Seu nome é obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label color="primary" floating>E-mail</ion-label>
    <ion-input formControlName="email"></ion-input>
  </ion-item>
  <span class="error" *ngIf="form.controls.email?.errors?.required && form.controls.email.touched">
      <ion-label class="error-text"> E-mail é Obrigatório </ion-label>
  </span>
  <span class="error" *ngIf="form.controls.email?.errors?.email && form.controls.email.touched">
      <ion-label class="error-text"> E-mail Inválido </ion-label>
  </span>
  
  <ion-item>
    <ion-label color="primary" floating>Data de Nascimento</ion-label>
    <ion-input [brmasker]="{mask:'00/00/00', len:8}" formControlName="datanasc"></ion-input>
    <!-- [textMask]="{mask: maskData}" -->
  </ion-item>
  <span class="error" *ngIf="form.controls.datanasc?.errors?.required && form.controls.datanasc.touched">
      <ion-label class="error-text"> Data de Nascimento é Obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label color="primary" floating>Celular</ion-label>
    <ion-input [brmasker]="{mask:'(00)00000-0000', len:14}" formControlName="celular"></ion-input>
    <!-- [textMask]="{mask: maskCel}" -->
  </ion-item>
  <span class="error" *ngIf="form.controls.celular?.errors?.required && form.controls.celular.touched">
      <ion-label class="error-text"> Celular é Obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label color="primary" floating>CPF</ion-label>
    <ion-input [brmasker]="{mask:'000.000.000-00', len:14}" formControlName="cpf" clearInput></ion-input>
    <!-- [textMask]="{mask: maskCpf}" -->
  </ion-item>
  <span class="error" *ngIf="form.controls.cpf?.errors?.required && form.controls.cpf.touched">
      <ion-label class="error-text"> CPF é Obrigatório </ion-label>
  </span>
<ion-item>
    <ion-label color="primary" floating>Indicação(e-mail):</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>CEP</ion-label>
    <ion-input [brmasker]="{mask:'00000-000', len:9}" formControlName="cep"></ion-input>
    <!-- [textMask]="{mask: maskCep}" -->
  </ion-item>
  <span class="error" *ngIf="form.controls.cep?.errors?.required && form.controls.cep.touched">
      <ion-label class="error-text"> CEP é Obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label color="primary" floating>Logradouro</ion-label>
    <ion-input formControlName="logradouro"></ion-input>
  </ion-item>
  <span class="error" *ngIf="form.controls.logradouro?.errors?.required && form.controls.logradouro.touched">
      <ion-label class="error-text"> Logradouro é Obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label color="primary" floating>Nº</ion-label>
    <ion-input formControlName="numero"></ion-input>
  </ion-item>
  <span class="error" *ngIf="form.controls.numero?.errors?.required && form.controls.numero.touched">
      <ion-label class="error-text"> Nº é Obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label color="primary" floating>Complemento</ion-label>
    <ion-input formControlName="complemento"></ion-input>
  </ion-item>
  <span class="error" *ngIf="form.controls.complemento?.errors?.required && form.controls.complemento.touched">
      <ion-label class="error-text"> Complemento é Obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label color="primary" floating>Bairro</ion-label>
    <ion-input formControlName="bairro"></ion-input>
  </ion-item>
  <span class="error" *ngIf="form.controls.bairro?.errors?.required && form.controls.bairro.touched">
      <ion-label class="error-text"> Bairro é Obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label color="primary" floating>Cidade</ion-label>
    <ion-input formControlName="cidade"></ion-input>
  </ion-item>
  <span class="error" *ngIf="form.controls.cidade?.errors?.required && form.controls.cidade.touched">
      <ion-label class="error-text"> Cidade é Obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label color="primary" floating>UF</ion-label>
    <ion-input formControlName="estado"></ion-input>
  </ion-item>
  <span class="error" *ngIf="form.controls.estado?.errors?.required && form.controls.estado.touched">
      <ion-label class="error-text"> UF é Obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label color="primary" floating>Senha</ion-label>
    <ion-input formControlName="senha"></ion-input>
  </ion-item>
  <span class="error" *ngIf="form.controls.senha?.errors?.required && form.controls.senha.touched">
      <ion-label class="error-text"> Senha é Obrigatório </ion-label>
  </span>

  <ion-item>
    <ion-label>Aceito os termos</ion-label>
    <ion-checkbox formControlName="termos"></ion-checkbox>
  </ion-item>
  <span class="error" *ngIf="form.controls.termos?.errors?.required && form.controls.termos.touched">
      <ion-label class="error-text"> Termos é Obrigatório </ion-label>
  </span>
<br>
  <button ion-button full round color="primary" (click)="finalizar()" [disabled]="!form.valid">Concluir</button>

</ion-content>
