// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$SIDEMENU_TOP: #AC0B3E;
$SIDEMENU_BOTTOM: #E90556;

$toolbar-background: #AC0B3E;
.toolbar-background-md {
    background-image: url(../../assets/img/bg-hme.png)!important;
    background-size:cover!important;
    background-position:0px 480px !important;
}
ion-menu {
    
.toolbar-background {
    background: transparent!important;
    text-align: center;
    font-weight: bold;
}
.toolbar-title-md {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
}
ion-menu .content {

    background: url(../../assets/img/bg-hme.png);
    background-size:cover;
    background-repeat: repeat-x;
    ion-list {
    	margin-top: 30px;
    }
    .list {
    	background:transparent;
    	.btn-menu {
    		background: transparent;
    		border: 0px;
    		font-size: 16px;
    		font-weight: bold!important;
    		color: #fff;
    	}
    	.item-inner {
    		border:0px;
    	}
    }

nav#menuresponsivo #rede-sociais {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
nav#menuresponsivo #rede-sociais a {
    margin: 0 10px;
    color: #FFF;
    font-family: 'Plutoregular';
    font-size: 14px;
}
nav#menuresponsivo #rede-sociais a .fa {
    font-size: 18px;
    margin-right: 5px;
}
}

.toolbar-background-ios{
    background-image: url(../../assets/img/bg-hme.png) !important;
    background-position-y: 450px!important;
    background-size: cover!important;
}
$colors: (
  primary:    #e11941,
  secondary:  #fff,
  facebook:   #4267B2,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


$font-family-md-base: "Plutoregular";
$font-family-ios-base: "Plutoregular";
$font-family-wp-base: "Plutoregular";

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
