.ranking {

.item-inner {
    border: 0px!important;
}
	button {
		
		background:#3b5998;
	}
	.button-inner {
		font-size: 11px!important;
	}
}

.ranking-list {
	ion-avatar {
		border-radius: 100%;
		background: #efefef;
		overflow: hidden;
		width: 52px;
		height: 52px;
		margin-right: 8px!important;
		span {
			line-height: 52px;
			width: 100%;
			text-align:center;
			display:block;
			font-size:23px;
			color: #191919;
		}
	}
}

.ranking-list ion-item {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #efefef;
}