.list-game-page {
	h2.list-title {
		text-align:center;
		margin-top: 30px!important;
		font-size: 25px;
	    font-family: 'Roboto';
	    margin-bottom: 5px;
	    color: #000;
	}
	h4 {
		font-family: 16px;
	    color: #666666;
		text-align:center;
		margin-top:0px;
		margin-bottom:30px;
	}
}