.card-aguarde {
		.icon-bolinha {
			width: 60px;
			height: 60px;
			border-radius: 30px;
    		background: linear-gradient(to right, #f20f5b 0%, #cd287d 100%)!important;
    		margin:0 auto;
    		line-height: 66px;
    		font-size: 34px;
    		color: #fff;
		}
		padding:45px;
		text-align:center;
		color:#444;
}